In [111]:
# Librerías

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import datasets
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
import pickle
import joblib

from sklearn import linear_model
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import Ridge
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler

from imblearn.over_sampling import SMOTE

## DIAMOND TEST

In [112]:
# CSV diamonds_test
df_Diamond_test=pd.read_csv('./diamonds_test.csv')
df_Diamond_test

,id,carat,cut,color,clarity,depth,table,x,y,z,city
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam
...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam
13481,13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City
13482,13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv
13483,13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat
13484,13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City

In [113]:
df_Diamond_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13485 entries, 0 to 13484
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       13485 non-null  int64
 1   carat    13485 non-null  float64
 2   cut      13485 non-null  object
 3   color    13485 non-null  object
 4   clarity  13485 non-null  object
 5   depth    13485 non-null  float64
 6   table    13485 non-null  float64
 7   x        13485 non-null  float64
 8   y        13485 non-null  float64
 9   z        13485 non-null  float64
 10  city     13485 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 1.1+ MB

In [114]:
# One hot encoding
cat_cols = ['color', 'clarity', 'city', 'cut']
df_Diamond_test = pd.get_dummies(df_Diamond_test, columns=cat_cols, drop_first=True)
df_Diamond_test

,id,carat,depth,table,x,y,z,color_E,color_F,color_G,...,city_Madrid,city_New York City,city_Paris,city_Surat,city_Tel Aviv,city_Zurich,cut_Good,cut_Ideal,cut_Premium,cut_Very Good
0,0,0.79,62.7,60.0,5.82,5.89,3.67,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,1,1.20,61.0,57.0,6.81,6.89,4.18,0,0,0,...,0,0,0,1,0,0,0,1,0,0
2,2,1.57,62.2,61.0,7.38,7.32,4.57,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,3,0.90,63.8,54.0,6.09,6.13,3.90,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,4,0.50,62.9,58.0,5.05,5.09,3.19,0,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,61.9,56.0,5.35,5.32,3.30,1,0,0,...,0,0,0,0,0,0,0,1,0,0
13481,13481,0.71,62.2,55.0,5.71,5.73,3.56,0,0,0,...,0,1,0,0,0,0,0,1,0,0
13482,13482,0.70,61.6,55.0,5.75,5.71,3.53,0,1,0,...,0,0,0,0,1,0,0,1,0,0
13483,13483,0.70,58.8,57.0,5.85,5.89,3.45,0,1,0,...,0,0,0,1,0,0,0,0,0,1
13484,13484,0.40,62.4,55.0,4.70,4.73,2.94,0,0,0,...,0,1,0,0,0,0,0,1,0,0

In [115]:
# Scaling

#scaler = StandardScaler()
#scaled_data = scaler.fit_transform(df_Diamond_test)
#scaled_data

# Predict test

In [121]:
%%time

# Train the model and make predictions

#regressor = LinearRegression()
regressor = RandomForestRegressor()
hyperparameters = regressor.get_params()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

print('Model:', regressor, '\n')
print('Model hyperparameters:', hyperparameters, '\n')
#print('Model coefficients:', regressor.coef_, '\n')
#print('Model feature importance:', regressor.feature_importances_)
print('Ground truth target:', y_test, '\n')
print('Predicted target:', y_pred, '\n')
# dependiendo del modelo que utilices, cambia el resultado(random forest o regresion linea). El mejor modelo, RandomForest

Model: RandomForestRegressor()

Model hyperparameters: {'bootstrap': True, 'ccp_alpha': 0.0, 'criterion': 'squared_error', 'max_depth': None, 'max_features': 1.0, 'max_leaf_nodes': None, 'max_samples': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'n_estimators': 100, 'n_jobs': None, 'oob_score': False, 'random_state': None, 'verbose': 0, 'warm_start': False}

Ground truth target: [ 270.39080404  120.34102476  449.52085777 -180.06562862  157.15138306
 -133.05176281  163.7141322   -96.93023165  327.62837842  270.17583349
  344.46994391  187.86891753   14.61811042 -101.9689925    77.97533234
  297.60507099  -32.67098993  343.75320838  244.92148713   29.03235182
 -160.57884669  -48.68807244  132.62555633  155.06035163  372.48921709
  431.42160405  143.77130735  322.81483606   49.70723517 -518.01749379
  -44.20600644  188.77670904  164.80262267 -112.85537525   98.67596295
  370.58063198  200.88467971  153.45690607 -333.6009131   361.15064989
 -101.64296248 -168.54644988 -342.83612019  245.6442731   238.30115488
 -261.79198256 -258.23031315  276.27934673  -97.68679373  -76.31512872
  286.08615052 -130.97885765 -106.93874676 -235.28173457 -224.40122476
  472.72861332  -74.01528391  108.43928895 -102.83838164  -31.21590854
  229.9590589  -389.73674813  266.37456093 -102.67402215   63.24439666
 -126.44915702 -501.87417314 -265.43342973  -49.75224524   24.34969338
  286.58978515 -112.90742645  141.31458917  242.20494395 -284.91696726
 -108.43271523  378.15289432 -252.49445772 -127.84900532   56.32439466
    3.66238405  111.69134974 -239.4005546  -246.74888692  346.77837617
   -5.41323426  -62.48372685  -72.70358015  145.96364265 -170.75856828
  173.69796425   78.27147971    8.27074028  790.17785    -337.61439071
 -104.41738379  168.76348721  108.25598915 -235.71012308 -217.35147299
  -88.2602533  -194.46465396 -324.68338068  465.93505797 -266.71390763
 -299.92360662   49.50427955  276.26766888 -176.12355199  119.55369937
  -37.70995746  294.77101582  225.14107096 -210.35728139  560.49843464
 -132.19404768   32.78190685 -126.67639661  335.83337019  153.40048242
 -207.94074215 -460.27062364  359.1329533   218.52654015 -224.65121229
 -430.56263619  314.12805489   42.16386809  -94.74084074 -200.32527473
  191.87624198  149.76241392 -293.23284893   14.51074247 -433.92090397
   50.17359804  226.82389521 -343.82009574  -76.47786326   36.79809602
   28.94625752  -38.83066575  134.36045595 -165.49534286    6.10842744
   89.68383742 -115.69678495  -63.46581749  -63.64184838 -330.22809997
  376.70287253 -178.36598536 -291.25396191 -261.5656015  -228.97283317
   53.93660522 -133.30680648 -555.54105203 -114.12452972  153.73473475
 -335.92063062  246.69292242  -63.10870521  -78.18162689  -91.96802495
 -129.39099286  -91.98187382  -64.63394472   97.16701644 -390.34390394
  128.24658622  537.81715644 -120.50832114   28.43138433 -219.99874326
  122.42723265  253.45776619   79.86446641 -262.15476658   92.39520206
  251.07044723  113.48737055 -140.63084681 -154.71476031  466.5599225
  502.78638758  179.79464777 -359.03933918  280.49799967 -233.71306246
  -54.37414517   44.84653143   68.94577341 -241.55698555 -159.92387838
 -204.01920077 -160.14801964  273.97401546  -38.96675508 -278.33883508]

Predicted target: [ 140.3065575   127.97334235  316.32207927 -132.59191918   60.73418513
 -121.2466422   132.86368206  -86.49145029  155.23653873   54.1459588
  202.88958066  161.62034732  -35.27816389    6.60698655   43.87551353
  193.55645805   29.03027062   79.13198688  159.64861759   37.54062613
   -1.42140605  -13.33108816   13.24244809  116.08116349  235.59946077
  260.49724704    5.93232868  229.19253537  -62.05490385 -256.09874871
   10.68147305   95.75894041   18.05665386 -160.74710683   12.51877899
  240.04687908   26.26308567   53.55789984  -91.10792667  237.78657328
  -70.86118184 -145.35230114  -94.95933683  -59.34000002  132.98881904
  -14.98106448 -239.94780341  196.85187105   82.8191567    24.54180976
  104.54734353  -74.30878841 -143.66072734 -140.12429944  -37.7064237
  217.48893523   11.13884644    1.65085091 -105.68146175   20.87492065
  127.94076425 -285.22386291  204.99271294  -67.12621501  -17.87240817
 -143.4406268  -210.13316487  -83.46117479   15.8342435    98.46752297
  186.40336463 -164.35831614   71.72327713  232.84287259 -188.23286602
 -166.10452777  249.47646118 -169.21215265  -90.03522517  -49.50536047
  111.63698566  -74.61904709 -116.43469044  -81.68684587  206.45679717
  -57.62584482 -126.59033305  -34.30738046   55.62167727 -213.49166829
   13.99675589   -4.10946993   36.30575774  451.33244617 -151.20358209
   12.78789622   73.502347     90.10793966 -193.45183183 -163.66295742
 -137.51578858 -100.34465935 -151.57222622  319.26615711 -140.80956692
 -101.34267698  142.581807    154.57325069 -128.58597354  109.766784
 -122.68895453  193.7427869    56.86268182 -107.53077187  249.16352035
 -150.23672394   40.56750221  -98.29368925  145.09779604   61.58540659
 -202.63661762 -349.03750056  160.68563841   68.28948213 -140.36877534
 -227.40529068  157.62982474   20.02397228 -107.86885562  -84.71109119
  162.44916835   60.82903919 -210.63034085    4.79485015  -70.78904393
   74.93049744  130.50641266 -174.68613233   27.62064296  -31.64497151
   64.58667192  -77.92688794    7.85031233 -148.19140218  -19.62593441
  -34.87157846   47.30427645  -27.39952845   30.41777239 -220.32741788
  139.95713712 -178.14501503 -123.83214526  -76.46676385 -170.59210236
    1.14936344 -157.26083293 -196.31156054  -65.01478875  118.97728509
 -228.35347043  127.89636919   41.73413977 -118.69153309 -103.86749107
  -81.63339288 -194.10871055  -28.2643419   136.92620432  -70.23383312
   88.40191991  276.05485221 -149.33171382   79.3293761  -123.79402279
   -0.71051835   98.98261376   61.21161725 -209.75675439   80.10060238
  113.98671994  145.79278885 -195.37354678  -48.65229968  222.94747144
  341.8234973    58.13824568 -126.50738011   75.72853789  -10.55700893
 -154.07923603  -44.49911643   84.80171954 -178.50978346  -30.82070643
  -71.31110791 -167.14584949   70.51233586  -16.16431231 -193.01266691]

CPU times: total: 2.59 s
Wall time: 2.74 s

In [122]:
#%%time

#Model predictions

predictions = model.predict(df_Diamond_test)

print(type(predictions))

NameError: name 'model' is not defined

In [123]:
df_predictions = pd.DataFrame(y_pred, columns=['price']).reset_index()
df_predictions
#df.columns = ['new_col1', 'new_col2', 'new_col3', 'new_col4']

     index       price
0        0  140.306557
1        1  127.973342
2        2  316.322079
3        3 -132.591919
4        4   60.734185
..     ...         ...
195    195  -71.311108
196    196 -167.145849
197    197   70.512336
198    198  -16.164312
199    199 -193.012667

[200 rows x 2 columns]

In [124]:

df_predictions['id']=df_predictions.index
df_predictions

     index       price   id
0        0  140.306557    0
1        1  127.973342    1
2        2  316.322079    2
3        3 -132.591919    3
4        4   60.734185    4
..     ...         ...  ...
195    195  -71.311108  195
196    196 -167.145849  196
197    197   70.512336  197
198    198  -16.164312  198
199    199 -193.012667  199

[200 rows x 3 columns]

In [125]:
df_predictions_d=df_predictions.drop('index', axis=1)
df_predictions_d

          price   id
0    140.306557    0
1    127.973342    1
2    316.322079    2
3   -132.591919    3
4     60.734185    4
..          ...  ...
195  -71.311108  195
196 -167.145849  196
197   70.512336  197
198  -16.164312  198
199 -193.012667  199

[200 rows x 2 columns]

In [126]:
df_predictions_d.to_csv('train.csv', index=False)

In [72]:
## Nota Kaggle
#5288 (Random)

## DIAMOND TRAIN

In [74]:
# CSV EDA
df_train=pd.read_csv('competi_kaggle.csv')
df_train

,index_id,depth,table,x,y,z,color,clarity,city,cut,carat,price
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25,J,VS2,Kimberly,Premium,1.21,4268
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,63.0,57.0,4.35,4.38,2.75,H,VS2,Antwerp,Very Good,0.32,505
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,65.5,55.0,5.62,5.53,3.65,G,VS1,London,Fair,0.71,2686
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,63.8,56.0,4.68,4.72,3.00,D,SI1,New York City,Good,0.41,738
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60.5,59.0,6.55,6.51,3.95,G,SI1,Dubai,Ideal,1.02,4882
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,62.7,57.0,7.10,7.04,4.43,G,VS1,New York City,Ideal,1.34,10070
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,57.1,60.0,8.31,8.25,4.73,F,SI2,Zurich,Good,2.02,12615
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,62.7,56.0,6.37,6.42,4.01,H,SI1,Tel Aviv,Ideal,1.01,5457
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,61.9,54.3,4.45,4.47,2.76,J,VS1,Paris,Ideal,0.33,456
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,62.0,58.0,6.83,6.88,4.25,I,SI1,Antwerp,Ideal,1.24,6232

In [75]:
x=df_train.drop('index_id', axis=1)
x

,depth,table,x,y,z,color,clarity,city,cut,carat,price
0,62.4,58.0,6.83,6.79,4.25,J,VS2,Kimberly,Premium,1.21,4268
1,63.0,57.0,4.35,4.38,2.75,H,VS2,Antwerp,Very Good,0.32,505
2,65.5,55.0,5.62,5.53,3.65,G,VS1,London,Fair,0.71,2686
3,63.8,56.0,4.68,4.72,3.00,D,SI1,New York City,Good,0.41,738
4,60.5,59.0,6.55,6.51,3.95,G,SI1,Dubai,Ideal,1.02,4882
...,...,...,...,...,...,...,...,...,...,...,...
40450,62.7,57.0,7.10,7.04,4.43,G,VS1,New York City,Ideal,1.34,10070
40451,57.1,60.0,8.31,8.25,4.73,F,SI2,Zurich,Good,2.02,12615
40452,62.7,56.0,6.37,6.42,4.01,H,SI1,Tel Aviv,Ideal,1.01,5457
40453,61.9,54.3,4.45,4.47,2.76,J,VS1,Paris,Ideal,0.33,456
40454,62.0,58.0,6.83,6.88,4.25,I,SI1,Antwerp,Ideal,1.24,6232

In [76]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index_id  40455 non-null  object
 1   depth     40455 non-null  float64
 2   table     40455 non-null  float64
 3   x         40455 non-null  float64
 4   y         40455 non-null  float64
 5   z         40455 non-null  float64
 6   color     40455 non-null  object
 7   clarity   40455 non-null  object
 8   city      40455 non-null  object
 9   cut       40455 non-null  object
 10  carat     40455 non-null  float64
 11  price     40455 non-null  int64
dtypes: float64(6), int64(1), object(5)
memory usage: 3.7+ MB

In [77]:
# One hot encoding
cat_cols = ['color', 'clarity', 'city', 'cut']
df_train= pd.get_dummies(df_train, columns=cat_cols, drop_first=True)
df_train

,index_id,depth,table,x,y,z,carat,price,color_E,color_F,...,city_Madrid,city_New York City,city_Paris,city_Surat,city_Tel Aviv,city_Zurich,cut_Good,cut_Ideal,cut_Premium,cut_Very Good
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25,1.21,4268,0,0,...,0,0,0,0,0,0,0,0,1,0
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,63.0,57.0,4.35,4.38,2.75,0.32,505,0,0,...,0,0,0,0,0,0,0,0,0,1
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,65.5,55.0,5.62,5.53,3.65,0.71,2686,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,63.8,56.0,4.68,4.72,3.00,0.41,738,0,0,...,0,1,0,0,0,0,1,0,0,0
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60.5,59.0,6.55,6.51,3.95,1.02,4882,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,62.7,57.0,7.10,7.04,4.43,1.34,10070,0,0,...,0,1,0,0,0,0,0,1,0,0
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,57.1,60.0,8.31,8.25,4.73,2.02,12615,0,1,...,0,0,0,0,0,1,1,0,0,0
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,62.7,56.0,6.37,6.42,4.01,1.01,5457,0,0,...,0,0,0,0,1,0,0,1,0,0
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,61.9,54.3,4.45,4.47,2.76,0.33,456,0,0,...,0,0,1,0,0,0,0,1,0,0
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,62.0,58.0,6.83,6.88,4.25,1.24,6232,0,0,...,0,0,0,0,0,0,0,1,0,0

In [85]:
df_train=df_train.drop('index_id', axis=1)
df_train

,depth,table,x,y,z,carat,price,color_E,color_F,color_G,...,city_Madrid,city_New York City,city_Paris,city_Surat,city_Tel Aviv,city_Zurich,cut_Good,cut_Ideal,cut_Premium,cut_Very Good
0,62.4,58.0,6.83,6.79,4.25,1.21,4268,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,63.0,57.0,4.35,4.38,2.75,0.32,505,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,65.5,55.0,5.62,5.53,3.65,0.71,2686,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,63.8,56.0,4.68,4.72,3.00,0.41,738,0,0,0,...,0,1,0,0,0,0,1,0,0,0
4,60.5,59.0,6.55,6.51,3.95,1.02,4882,0,0,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,62.7,57.0,7.10,7.04,4.43,1.34,10070,0,0,1,...,0,1,0,0,0,0,0,1,0,0
40451,57.1,60.0,8.31,8.25,4.73,2.02,12615,0,1,0,...,0,0,0,0,0,1,1,0,0,0
40452,62.7,56.0,6.37,6.42,4.01,1.01,5457,0,0,0,...,0,0,0,0,1,0,0,1,0,0
40453,61.9,54.3,4.45,4.47,2.76,0.33,456,0,0,0,...,0,0,1,0,0,0,0,1,0,0
40454,62.0,58.0,6.83,6.88,4.25,1.24,6232,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [86]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 36 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   depth               40455 non-null  float64
 1   table               40455 non-null  float64
 2   x                   40455 non-null  float64
 3   y                   40455 non-null  float64
 4   z                   40455 non-null  float64
 5   carat               40455 non-null  float64
 6   price               40455 non-null  int64
 7   color_E             40455 non-null  uint8
 8   color_F             40455 non-null  uint8
 9   color_G             40455 non-null  uint8
 10  color_H             40455 non-null  uint8
 11  color_I             40455 non-null  uint8
 12  color_J             40455 non-null  uint8
 13  clarity_IF          40455 non-null  uint8
 14  clarity_SI1         40455 non-null  uint8
 15  clarity_SI2         40455 non-null  uint8
 16  clarity_VS1         40455 non-null  uint8
 17  clarity_VS2         40455 non-null  uint8
 18  clarity_VVS1        40455 non-null  uint8
 19  clarity_VVS2        40455 non-null  uint8
 20  city_Antwerp        40455 non-null  uint8
 21  city_Dubai          40455 non-null  uint8
 22  city_Kimberly       40455 non-null  uint8
 23  city_Las Vegas      40455 non-null  uint8
 24  city_London         40455 non-null  uint8
 25  city_Luxembourg     40455 non-null  uint8
 26  city_Madrid         40455 non-null  uint8
 27  city_New York City  40455 non-null  uint8
 28  city_Paris          40455 non-null  uint8
 29  city_Surat          40455 non-null  uint8
 30  city_Tel Aviv       40455 non-null  uint8
 31  city_Zurich         40455 non-null  uint8
 32  cut_Good            40455 non-null  uint8
 33  cut_Ideal           40455 non-null  uint8
 34  cut_Premium         40455 non-null  uint8
 35  cut_Very Good       40455 non-null  uint8
dtypes: float64(6), int64(1), uint8(29)
memory usage: 3.3 MB

In [89]:
# Scaling
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df_train)
scaled_data

array([[ 0.45201864,  0.24798091,  0.97880679, ..., -0.81809533,
         1.7155123 , -0.53853424],
       [ 0.8710986 , -0.19974534, -1.22673789, ..., -0.81809533,
        -0.58291625,  1.85689213],
       [ 2.61726508, -1.09519783, -0.09728557, ..., -0.81809533,
        -0.58291625, -0.53853424],
       ...,
       [ 0.66155862, -0.64747158,  0.56971383, ...,  1.22235144,
        -0.58291625, -0.53853424],
       [ 0.10278535, -1.4086062 , -1.13780463, ...,  1.22235144,
        -0.58291625, -0.53853424],
       [ 0.172632  ,  0.24798091,  0.97880679, ...,  1.22235144,
        -0.58291625, -0.53853424]])

In [90]:
# Data Imbalance

#sm = SMOTE(random_state=42)

#X_res, y_res = sm.fit_resample(X, y)

#print(X_res.shape, y_res.shape, Counter(y_res))

In [91]:
# Load datasets

X, y = make_regression(n_samples=1000, n_features=36, random_state=42)
print(X.shape, y.shape)

(1000, 36) (1000,)

In [93]:
# Train and test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(f"X_train: {X_train.shape}, X_test: {X_test.shape}, y_train: {y_train.shape}, y_test: {y_test.shape}")

X_train: (800, 36), X_test: (200, 36), y_train: (800,), y_test: (200,)

# Predict Train Regresion Estimators

In [94]:
#%%time

# Model definition

#model = LinearRegression()

#hyperparameters = model.get_params()

#print(type(model), '\n')
#print('Model hyperparameters:', hyperparameters, '\n')

In [95]:
%%time

# Model training

#model.fit(X_train, y_train)

#print('Model:', model, '\n')
#print('Model hyperparameters:', hyperparameters, '\n')
#print('Model coefficients:', model.coef_, '\n')

CPU times: total: 0 ns
Wall time: 0 ns

# Predict Train

In [104]:
%%time

# Train the model and make predictions

#regressor = LinearRegression()
regressor = RandomForestRegressor()
hyperparameters = regressor.get_params()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

print('Model:', regressor, '\n')
print('Model hyperparameters:', hyperparameters, '\n')
#print('Model coefficients:', regressor.coef_, '\n')
#print('Model feature importance:', regressor.feature_importances_)
print('Ground truth target:', y_test, '\n')
print('Predicted target:', y_pred, '\n')
# dependiendo del modelo que utilices, cambia el resultado(random forest o regresion linea). El mejor modelo, RandomForest

Model: RandomForestRegressor()

Model hyperparameters: {'bootstrap': True, 'ccp_alpha': 0.0, 'criterion': 'squared_error', 'max_depth': None, 'max_features': 1.0, 'max_leaf_nodes': None, 'max_samples': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'n_estimators': 100, 'n_jobs': None, 'oob_score': False, 'random_state': None, 'verbose': 0, 'warm_start': False}

Ground truth target: [ 270.39080404  120.34102476  449.52085777 -180.06562862  157.15138306
 -133.05176281  163.7141322   -96.93023165  327.62837842  270.17583349
  344.46994391  187.86891753   14.61811042 -101.9689925    77.97533234
  297.60507099  -32.67098993  343.75320838  244.92148713   29.03235182
 -160.57884669  -48.68807244  132.62555633  155.06035163  372.48921709
  431.42160405  143.77130735  322.81483606   49.70723517 -518.01749379
  -44.20600644  188.77670904  164.80262267 -112.85537525   98.67596295
  370.58063198  200.88467971  153.45690607 -333.6009131   361.15064989
 -101.64296248 -168.54644988 -342.83612019  245.6442731   238.30115488
 -261.79198256 -258.23031315  276.27934673  -97.68679373  -76.31512872
  286.08615052 -130.97885765 -106.93874676 -235.28173457 -224.40122476
  472.72861332  -74.01528391  108.43928895 -102.83838164  -31.21590854
  229.9590589  -389.73674813  266.37456093 -102.67402215   63.24439666
 -126.44915702 -501.87417314 -265.43342973  -49.75224524   24.34969338
  286.58978515 -112.90742645  141.31458917  242.20494395 -284.91696726
 -108.43271523  378.15289432 -252.49445772 -127.84900532   56.32439466
    3.66238405  111.69134974 -239.4005546  -246.74888692  346.77837617
   -5.41323426  -62.48372685  -72.70358015  145.96364265 -170.75856828
  173.69796425   78.27147971    8.27074028  790.17785    -337.61439071
 -104.41738379  168.76348721  108.25598915 -235.71012308 -217.35147299
  -88.2602533  -194.46465396 -324.68338068  465.93505797 -266.71390763
 -299.92360662   49.50427955  276.26766888 -176.12355199  119.55369937
  -37.70995746  294.77101582  225.14107096 -210.35728139  560.49843464
 -132.19404768   32.78190685 -126.67639661  335.83337019  153.40048242
 -207.94074215 -460.27062364  359.1329533   218.52654015 -224.65121229
 -430.56263619  314.12805489   42.16386809  -94.74084074 -200.32527473
  191.87624198  149.76241392 -293.23284893   14.51074247 -433.92090397
   50.17359804  226.82389521 -343.82009574  -76.47786326   36.79809602
   28.94625752  -38.83066575  134.36045595 -165.49534286    6.10842744
   89.68383742 -115.69678495  -63.46581749  -63.64184838 -330.22809997
  376.70287253 -178.36598536 -291.25396191 -261.5656015  -228.97283317
   53.93660522 -133.30680648 -555.54105203 -114.12452972  153.73473475
 -335.92063062  246.69292242  -63.10870521  -78.18162689  -91.96802495
 -129.39099286  -91.98187382  -64.63394472   97.16701644 -390.34390394
  128.24658622  537.81715644 -120.50832114   28.43138433 -219.99874326
  122.42723265  253.45776619   79.86446641 -262.15476658   92.39520206
  251.07044723  113.48737055 -140.63084681 -154.71476031  466.5599225
  502.78638758  179.79464777 -359.03933918  280.49799967 -233.71306246
  -54.37414517   44.84653143   68.94577341 -241.55698555 -159.92387838
 -204.01920077 -160.14801964  273.97401546  -38.96675508 -278.33883508]

Predicted target: [ 1.68516541e+02  1.35708957e+02  3.15231061e+02 -1.10591692e+02
  6.84894232e+01 -1.26581757e+02  1.79271512e+02 -1.15754743e+02
  1.38205556e+02  3.57762508e+01  1.89665811e+02  1.38553373e+02
 -5.76098888e+01  2.40646480e+01  6.76716470e+01  2.31367808e+02
  2.73979580e+01  8.12098688e+01  1.18815394e+02  2.94629390e+01
 -6.45513996e+00 -7.46359710e+00  1.70176084e+01  8.44164867e+01
  2.58382644e+02  2.86436136e+02  2.64418214e+01  1.99506528e+02
 -7.21821326e+01 -2.72950846e+02 -8.10383794e-01  8.89290583e+01
  3.58166060e+01 -1.30573595e+02  2.91775189e+01  2.37466699e+02
 -1.53622639e+01  2.25550612e-01 -1.19289567e+02  2.29717950e+02
 -7.65179558e+01 -1.90428733e+02 -9.65182995e+01 -2.60527189e+01
  1.48503107e+02 -5.50857604e+01 -2.09973423e+02  2.05798865e+02
  3.14104780e+01 -2.04824824e+00  1.35122320e+02 -6.83208205e+01
 -1.19195364e+02 -1.81495717e+02 -4.11179918e+01  2.60109565e+02
  8.39139788e+00 -1.63833512e+01 -1.30099602e+02  1.63404703e+01
  1.69444126e+02 -2.99077026e+02  2.03627921e+02 -2.22539187e+01
 -5.80666263e+00 -1.10743399e+02 -2.53121009e+02 -5.90167649e+01
 -3.50638226e+01  9.63265460e+01  1.88505270e+02 -1.55229425e+02
  6.55356247e+01  2.08711656e+02 -1.58373086e+02 -1.44827420e+02
  2.27480992e+02 -1.52368805e+02 -1.05678201e+02 -2.92687497e-01
  9.08124044e+01 -2.68234799e+01 -9.46913427e+01 -9.43380380e+01
  1.96278472e+02 -4.58061119e+01 -1.18547306e+02 -7.64400801e+01
  6.69034200e+01 -1.84390083e+02  1.58058038e+01  1.43212865e+00
  6.27232322e+01  4.92798412e+02 -7.79278459e+01 -2.67974243e+00
  4.73980075e+01  1.00679673e+02 -2.19699246e+02 -1.21667748e+02
 -1.67259810e+02 -9.88929417e+01 -1.56577398e+02  3.34427751e+02
 -1.33959851e+02 -1.14008185e+02  1.39592818e+02  1.52399518e+02
 -1.09146454e+02  8.26246546e+01 -1.47357469e+02  1.94112451e+02
  7.92415776e+01 -8.03779396e+01  2.22143511e+02 -1.51060531e+02
  6.66848811e+00 -9.77700584e+01  1.65108181e+02  4.54279683e+01
 -2.20429278e+02 -3.05736077e+02  1.72699871e+02  1.42212789e+02
 -1.71347933e+02 -2.32862295e+02  1.18230938e+02  3.08036143e+01
 -1.05861947e+02 -8.14826742e+01  1.59762851e+02  6.18271060e+01
 -1.95392409e+02 -2.98185069e+00 -7.76751202e+01  6.58108842e+01
  1.60377253e+02 -1.77548493e+02  8.91814499e+00  1.39883827e+00
  1.05440600e+02 -3.78485969e+01  1.23352085e+01 -1.34964714e+02
 -4.50474536e+01 -5.42614681e+01  7.25164815e+01 -1.75650649e+01
  1.72437263e+01 -2.21881538e+02  1.77689242e+02 -1.73869953e+02
 -7.38103897e+01 -1.02474488e+02 -1.52123095e+02  4.62590187e+00
 -1.74842321e+02 -1.70713304e+02 -8.97172531e+01  7.65493941e+01
 -2.25208077e+02  1.85596690e+02  4.25212116e+01 -1.32771107e+02
 -1.15634824e+02 -3.75653875e+01 -1.46741187e+02 -6.29370933e+01
  1.24803857e+02 -7.79107266e+01  6.93321997e+01  2.36797312e+02
 -1.28737332e+02  6.84376961e+01 -1.55330482e+02 -1.84929307e+01
  8.84007343e+01  1.40169429e+01 -1.54796848e+02  4.89949004e+01
  6.48447237e+01  1.45209711e+02 -2.10029591e+02 -5.65360130e+01
  1.83419894e+02  2.89342170e+02  2.87301126e+01 -9.23778288e+01
  1.36736245e+02  1.40778140e+01 -1.51581483e+02 -4.06941010e+01
  9.41251967e+01 -1.79499182e+02 -6.26978629e+01 -6.66375824e+01
 -1.71668538e+02  1.09745283e+02 -8.76179798e+00 -1.72959139e+02]

CPU times: total: 2.53 s
Wall time: 2.64 s

In [105]:
#%%time

#Model predictions

#predictions = model.predict(X_test)

#print(type(predictions))

In [106]:
# MSE calculation

#mean_squared_error(y_test, y_pred)

In [107]:
# RMSE calculation 

rmse = mean_squared_error(y_test, y_pred, squared=False)
rmse

129.55813876225844

In [108]:
# R2 calculation(valor objetivo para medir que tan bueno es nuestro medelo ej: temperatura, gorro)

r2 = r2_score(y_test, y_pred)
r2

0.7045480798732151

In [109]:
# Visual check

#check = pd.DataFrame({'Ground truth':y_test, 'Predictions':predictions, 'Diff':y_test-predictions})
#check

In [110]:
# Visualización

check.reset_index(inplace=True)

check.plot(x='index', y=['Ground truth', 'Predictions'], kind='line', figsize=(15, 10));

NameError: name 'check' is not defined