In [1]:
# Librerías

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import datasets
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
import pickle
import joblib

from sklearn import linear_model
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import Ridge
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

from sklearn.metrics import mean_squared_error

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler

from sklearn import preprocessing

In [3]:
# CSV EDA
df=pd.read_csv('./data/competi_kaggle.csv')
df

,index_id,depth,table,x,y,z,color,clarity,city,cut,carat,price
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25,J,VS2,Kimberly,Premium,1.21,4268
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,63.0,57.0,4.35,4.38,2.75,H,VS2,Antwerp,Very Good,0.32,505
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,65.5,55.0,5.62,5.53,3.65,G,VS1,London,Fair,0.71,2686
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,63.8,56.0,4.68,4.72,3.00,D,SI1,New York City,Good,0.41,738
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60.5,59.0,6.55,6.51,3.95,G,SI1,Dubai,Ideal,1.02,4882
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,62.7,57.0,7.10,7.04,4.43,G,VS1,New York City,Ideal,1.34,10070
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,57.1,60.0,8.31,8.25,4.73,F,SI2,Zurich,Good,2.02,12615
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,62.7,56.0,6.37,6.42,4.01,H,SI1,Tel Aviv,Ideal,1.01,5457
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,61.9,54.3,4.45,4.47,2.76,J,VS1,Paris,Ideal,0.33,456
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,62.0,58.0,6.83,6.88,4.25,I,SI1,Antwerp,Ideal,1.24,6232

# Preprocesing

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.corr()

# Feature Engennering

In [6]:
#df = df[(df["depth"]<75)&(df["depth"]>25)]
#df = df[(df["table"]<80)&(df["table"]>20)]

In [68]:
#df = df.drop(df[df["x"]==0].index)
#df = df.drop(df[df["y"]==0].index)
#df = df.drop(df[df["z"]==0].index)

In [69]:
df['city']=df['city'].sort_values()

In [70]:
df['volume']=df['x']*df['y']*df['z']

In [71]:
df.drop(['x','y','z'], axis=1, inplace= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index_id  40455 non-null  object
 1   depth     40455 non-null  float64
 2   table     40455 non-null  float64
 3   color     40455 non-null  object
 4   clarity   40455 non-null  object
 5   city      40455 non-null  object
 6   cut       40455 non-null  object
 7   carat     40455 non-null  float64
 8   price     40455 non-null  int64
 9   volume    40455 non-null  float64
dtypes: float64(4), int64(1), object(5)
memory usage: 3.1+ MB

In [73]:
X = df[['depth', 'table','color', 'clarity',  'cut', 'carat','city', 'volume']]
X

       depth  table color clarity        cut  carat           city      volume
0       62.4   58.0     J     VS2    Premium   1.21       Kimberly  197.096725
1       63.0   57.0     H     VS2  Very Good   0.32        Antwerp   52.395750
2       65.5   55.0     G     VS1       Fair   0.71         London  113.436890
3       63.8   56.0     D     SI1       Good   0.41  New York City   66.268800
4       60.5   59.0     G     SI1      Ideal   1.02          Dubai  168.429975
...      ...    ...   ...     ...        ...    ...            ...         ...
40450   62.7   57.0     G     VS1      Ideal   1.34  New York City  221.429120
40451   57.1   60.0     F     SI2       Good   2.02         Zurich  324.276975
40452   62.7   56.0     H     SI1      Ideal   1.01       Tel Aviv  163.990554
40453   61.9   54.3     J     VS1      Ideal   0.33          Paris   54.900540
40454   62.0   58.0     I     SI1      Ideal   1.24        Antwerp  199.709200

[40455 rows x 8 columns]

In [74]:
y = df[['price']]
y

       price
0       4268
1        505
2       2686
3        738
4       4882
...      ...
40450  10070
40451  12615
40452   5457
40453    456
40454   6232

[40455 rows x 1 columns]

## Encoding

In [75]:
# One hot encoding
cat_cols = [ 'color','clarity', 'cut', 'city' ]
df_one_hot = pd.get_dummies(X, columns=cat_cols, drop_first=True)
df_one_hot

,depth,table,carat,volume,color_E,color_F,color_G,color_H,color_I,color_J,...,city_Kimberly,city_Las Vegas,city_London,city_Luxembourg,city_Madrid,city_New York City,city_Paris,city_Surat,city_Tel Aviv,city_Zurich
0,62.4,58.0,1.21,197.096725,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
1,63.0,57.0,0.32,52.395750,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,65.5,55.0,0.71,113.436890,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,63.8,56.0,0.41,66.268800,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,60.5,59.0,1.02,168.429975,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,62.7,57.0,1.34,221.429120,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
40451,57.1,60.0,2.02,324.276975,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
40452,62.7,56.0,1.01,163.990554,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
40453,61.9,54.3,0.33,54.900540,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
40454,62.0,58.0,1.24,199.709200,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

## Scaling

In [76]:
# Scaling Standard
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df_one_hot)
scaled_data = scaler.transform(df_one_hot)
scaled_data

#MinMax Scaler
#scaler = MinMaxScaler()
#scaled_data = scaler.fit_transform(df_one_hot[['depth', 'table','carat']])
#scaled_data

# Robust Scaling
#scaler = RobustScaler()
#scaled_data = scaler.fit_transform(df_one_hot)
#scaled_data

array([[ 0.45201864,  0.24798091,  0.8670056 , ..., -0.37754259,
        -0.25844729, -0.26175136],
       [ 0.8710986 , -0.19974534, -1.00455749, ..., -0.37754259,
        -0.25844729, -0.26175136],
       [ 2.61726508, -1.09519783, -0.18443434, ..., -0.37754259,
        -0.25844729, -0.26175136],
       ...,
       [ 0.66155862, -0.64747158,  0.44642962, ..., -0.37754259,
         3.86926097, -0.26175136],
       [ 0.10278535, -1.4086062 , -0.98352869, ..., -0.37754259,
        -0.25844729, -0.26175136],
       [ 0.172632  ,  0.24798091,  0.93009199, ..., -0.37754259,
        -0.25844729, -0.26175136]])

In [77]:
df_X=pd.DataFrame(scaled_data)
df_X

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,0.452019,0.247981,0.867006,0.852876,-0.470211,-0.464401,-0.514022,-0.428551,-0.332715,4.231336,...,2.650809,-0.259805,-0.255935,-0.257957,-0.256865,-0.256373,-0.260942,-0.377543,-0.258447,-0.261751
1,0.871099,-0.199745,-1.004557,-0.981034,-0.470211,-0.464401,-0.514022,2.333443,-0.332715,-0.236332,...,-0.377243,-0.259805,-0.255935,-0.257957,-0.256865,-0.256373,-0.260942,-0.377543,-0.258447,-0.261751
2,2.617265,-1.095198,-0.184434,-0.207411,-0.470211,-0.464401,1.945442,-0.428551,-0.332715,-0.236332,...,-0.377243,-0.259805,3.907248,-0.257957,-0.256865,-0.256373,-0.260942,-0.377543,-0.258447,-0.261751
3,1.429872,-0.647472,-0.815298,-0.805209,-0.470211,-0.464401,-0.514022,-0.428551,-0.332715,-0.236332,...,-0.377243,-0.259805,-0.255935,-0.257957,-0.256865,3.900568,-0.260942,-0.377543,-0.258447,-0.261751
4,-0.875068,0.695707,0.467458,0.489559,-0.470211,-0.464401,1.945442,-0.428551,-0.332715,-0.236332,...,-0.377243,-0.259805,-0.255935,-0.257957,-0.256865,-0.256373,-0.260942,-0.377543,-0.258447,-0.261751
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,0.661559,-0.199745,1.140380,1.161259,-0.470211,-0.464401,1.945442,-0.428551,-0.332715,-0.236332,...,-0.377243,-0.259805,-0.255935,-0.257957,-0.256865,3.900568,-0.260942,-0.377543,-0.258447,-0.261751
40451,-3.249854,1.143433,2.570338,2.464731,-0.470211,2.153313,-0.514022,-0.428551,-0.332715,-0.236332,...,-0.377243,-0.259805,-0.255935,-0.257957,-0.256865,-0.256373,-0.260942,-0.377543,-0.258447,3.820420
40452,0.661559,-0.647472,0.446430,0.433295,-0.470211,-0.464401,-0.514022,2.333443,-0.332715,-0.236332,...,-0.377243,-0.259805,-0.255935,-0.257957,-0.256865,-0.256373,-0.260942,-0.377543,3.869261,-0.261751
40453,0.102785,-1.408606,-0.983529,-0.949288,-0.470211,-0.464401,-0.514022,-0.428551,-0.332715,4.231336,...,-0.377243,-0.259805,-0.255935,-0.257957,-0.256865,-0.256373,3.832273,-0.377543,-0.258447,-0.261751
40454,0.172632,0.247981,0.930092,0.885986,-0.470211,-0.464401,-0.514022,-0.428551,3.005575,-0.236332,...,-0.377243,-0.259805,-0.255935,-0.257957,-0.256865,-0.256373,-0.260942,-0.377543,-0.258447,-0.261751

In [78]:
%%time

# Model definition

#model = LinearRegression()
model = (RandomForestRegressor(n_estimators=1000, random_state = 42))
#model = linear_model.Lasso()
#model = ElasticNet()
#model = Ridge()
#model = SVR()
#model = SGDRegressor()
#model = DecisionTreeRegressor()


hyperparameters = model.get_params()



print(type(model), '\n')
print('Model hyperparameters:', hyperparameters, '\n')

<class 'sklearn.ensemble._forest.RandomForestRegressor'>

Model hyperparameters: {'bootstrap': True, 'ccp_alpha': 0.0, 'criterion': 'squared_error', 'max_depth': None, 'max_features': 1.0, 'max_leaf_nodes': None, 'max_samples': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'n_estimators': 1000, 'n_jobs': None, 'oob_score': False, 'random_state': 42, 'verbose': 0, 'warm_start': False}

CPU times: total: 46.9 ms
Wall time: 39.9 ms

In [79]:
%%time

# Model training

#model.model_transform(df_X, y)

model.fit(df_X, y)
#y_pred = model.predict(y)

print('Model:', model, '\n')
print('Model hyperparameters:', hyperparameters, '\n')
#print('Model coefficients:', model.coef_, '\n')
#print('Ground truth target:', y_test, '\n')
#print('Ground truth target:', y_pred, '\n')

<timed exec>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Model: RandomForestRegressor(n_estimators=1000, random_state=42)

Model hyperparameters: {'bootstrap': True, 'ccp_alpha': 0.0, 'criterion': 'squared_error', 'max_depth': None, 'max_features': 1.0, 'max_leaf_nodes': None, 'max_samples': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'n_estimators': 1000, 'n_jobs': None, 'oob_score': False, 'random_state': 42, 'verbose': 0, 'warm_start': False}

CPU times: total: 6min 35s
Wall time: 7min 18s

## Metrics Analyses

In [80]:
# Train and test split

X_train, X_test, y_train, y_test = train_test_split(df_X, y, test_size=0.2, random_state=42)
print(f"X_train: {X_train.shape}, X_test: {X_test.shape}, y_train: {y_train.shape}, y_test: {y_test.shape}")

X_train: (32364, 33), X_test: (8091, 33), y_train: (32364, 1), y_test: (8091, 1)

In [81]:
y_pred = model.predict(X_test)

In [82]:
# MSE calculation

mean_squared_error(y_test, y_pred)

54250.642049205555

In [83]:
# RMSE calculation 

rmse = mean_squared_error(y_test, y_pred, squared=False)
rmse

232.9176722561119

In [84]:
#Nota: 231

## Visualitation

In [85]:
#plt.subplots(figsize = (10,8))
#sns.heatmap(df_X, annot = True, cmap = "Blues")
#plt.show()

## Kaggle

In [86]:
# CSV diamonds_test Kaggle
df_K=pd.read_csv('./diamonds_test.csv')
df_K

,id,carat,cut,color,clarity,depth,table,x,y,z,city
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam
...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam
13481,13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City
13482,13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv
13483,13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat
13484,13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City

In [87]:
#df_K = df_K[(df_K["depth"]<75)&(df_K["depth"]>45)]
#df_K = df_K[(df_K["table"]<80)&(df_K["table"]>40)]

In [88]:
#df_K = df_K.drop(df_K[df_K["x"]==0].index)
#df_K = df_K.drop(df_K[df_K["y"]==0].index)
#df_K = df_K.drop(df_K[df_K["z"]==0].index)

In [89]:
df_K['city']=df_K['city'].sort_values()

In [90]:
df_K['volume']=df_K['x']*df_K['y']*df_K['z']

In [91]:
#df_K.drop(['x','y','z'], axis=1, inplace= True)

In [92]:
X_K = df_K[['depth', 'table','color', 'clarity',  'cut', 'carat','city','volume']]
X_K

       depth  table color clarity        cut  carat           city      volume
0       62.7   60.0     F     SI1  Very Good   0.79      Amsterdam  125.806866
1       61.0   57.0     J     VS1      Ideal   1.20          Surat  196.129362
2       62.2   61.0     H     SI1    Premium   1.57       Kimberly  246.878712
3       63.8   54.0     F     SI1  Very Good   0.90       Kimberly  145.593630
4       62.9   58.0     F     VS1  Very Good   0.50      Amsterdam   81.997355
...      ...    ...   ...     ...        ...    ...            ...         ...
13480   61.9   56.0     E     SI1      Ideal   0.57      Amsterdam   93.924600
13481   62.2   55.0     I     VS2      Ideal   0.71  New York City  116.477148
13482   61.6   55.0     F     VS1      Ideal   0.70       Tel Aviv  115.898725
13483   58.8   57.0     F     SI2  Very Good   0.70          Surat  118.874925
13484   62.4   55.0     I    VVS2      Ideal   0.40  New York City   65.359140

[13485 rows x 8 columns]

In [93]:
# One hot encoding
cat_cols = [ 'color','clarity', 'cut','city' ]
df_one_hot_K = pd.get_dummies(X_K, columns=cat_cols, drop_first=True)
df_one_hot_K

,depth,table,carat,volume,color_E,color_F,color_G,color_H,color_I,color_J,...,city_Kimberly,city_Las Vegas,city_London,city_Luxembourg,city_Madrid,city_New York City,city_Paris,city_Surat,city_Tel Aviv,city_Zurich
0,62.7,60.0,0.79,125.806866,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,61.0,57.0,1.20,196.129362,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,62.2,61.0,1.57,246.878712,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
3,63.8,54.0,0.90,145.593630,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,62.9,58.0,0.50,81.997355,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,61.9,56.0,0.57,93.924600,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13481,62.2,55.0,0.71,116.477148,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
13482,61.6,55.0,0.70,115.898725,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
13483,58.8,57.0,0.70,118.874925,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13484,62.4,55.0,0.40,65.359140,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0

In [94]:
# Scaling columnas numéricas
scaler = StandardScaler()
scaled_data_K = scaler.fit_transform(df_one_hot_K)
scaled_data_K

array([[ 0.66950043,  1.12187438, -0.01841187, ..., -0.37518853,
        -0.2557701 , -0.26805668],
       [-0.51495701, -0.21919161,  0.85507765, ...,  2.66532669,
        -0.2557701 , -0.26805668],
       [ 0.3211306 ,  1.56889637,  1.64334867, ..., -0.37518853,
        -0.2557701 , -0.26805668],
       ...,
       [-0.09691321, -1.1132356 , -0.21015347, ..., -0.37518853,
         3.9097611 , -0.26805668],
       [-2.04778429, -0.21919161, -0.21015347, ...,  2.66532669,
        -0.2557701 , -0.26805668],
       [ 0.46047853, -1.1132356 , -0.84929214, ..., -0.37518853,
        -0.2557701 , -0.26805668]])

In [95]:
df_X_K=pd.DataFrame(scaled_data_K)
df_X_K

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,0.669500,1.121874,-0.018412,-0.054883,-0.473774,2.168387,-0.516173,-0.420603,-0.339004,-0.228294,...,-0.370544,-0.256099,-0.260022,-0.260996,-0.257248,-0.257575,-0.262451,-0.375189,-0.255770,-0.268057
1,-0.514957,-0.219192,0.855078,0.867564,-0.473774,-0.461172,-0.516173,-0.420603,-0.339004,4.380311,...,-0.370544,-0.256099,-0.260022,-0.260996,-0.257248,-0.257575,-0.262451,2.665327,-0.255770,-0.268057
2,0.321131,1.568896,1.643349,1.533262,-0.473774,-0.461172,-0.516173,2.377538,-0.339004,-0.228294,...,2.698735,-0.256099,-0.260022,-0.260996,-0.257248,-0.257575,-0.262451,-0.375189,-0.255770,-0.268057
3,1.435914,-1.560258,0.215939,0.204668,-0.473774,2.168387,-0.516173,-0.420603,-0.339004,-0.228294,...,2.698735,-0.256099,-0.260022,-0.260996,-0.257248,-0.257575,-0.262451,-0.375189,-0.255770,-0.268057
4,0.808848,0.227830,-0.636246,-0.629548,-0.473774,2.168387,-0.516173,-0.420603,-0.339004,-0.228294,...,-0.370544,-0.256099,-0.260022,-0.260996,-0.257248,-0.257575,-0.262451,-0.375189,-0.255770,-0.268057
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,0.112109,-0.666214,-0.487114,-0.473094,2.110710,-0.461172,-0.516173,-0.420603,-0.339004,-0.228294,...,-0.370544,-0.256099,-0.260022,-0.260996,-0.257248,-0.257575,-0.262451,-0.375189,-0.255770,-0.268057
13481,0.321131,-1.113236,-0.188849,-0.177264,-0.473774,-0.461172,-0.516173,-0.420603,2.949820,-0.228294,...,-0.370544,-0.256099,-0.260022,-0.260996,-0.257248,3.882358,-0.262451,-0.375189,-0.255770,-0.268057
13482,-0.096913,-1.113236,-0.210153,-0.184851,-0.473774,2.168387,-0.516173,-0.420603,-0.339004,-0.228294,...,-0.370544,-0.256099,-0.260022,-0.260996,-0.257248,-0.257575,-0.262451,-0.375189,3.909761,-0.268057
13483,-2.047784,-0.219192,-0.210153,-0.145812,-0.473774,2.168387,-0.516173,-0.420603,-0.339004,-0.228294,...,-0.370544,-0.256099,-0.260022,-0.260996,-0.257248,-0.257575,-0.262451,2.665327,-0.255770,-0.268057
13484,0.460479,-1.113236,-0.849292,-0.847798,-0.473774,-0.461172,-0.516173,-0.420603,2.949820,-0.228294,...,-0.370544,-0.256099,-0.260022,-0.260996,-0.257248,3.882358,-0.262451,-0.375189,-0.255770,-0.268057

In [96]:
# Model predictions

#predictions = model.predict(df_Diamond_test)
y_pred = model.predict(df_X_K)

print(type(y_pred))

<class 'numpy.ndarray'>

In [97]:
y_pred

array([2951.78      , 5428.601     , 9927.93666667, ..., 3189.4895    ,
       2143.331     ,  806.06373333])

In [98]:
df_predictions = pd.DataFrame(y_pred, columns=['price']).reset_index()
df_predictions

       index        price
0          0  2951.780000
1          1  5428.601000
2          2  9927.936667
3          3  4129.560000
4          4  1609.076000
...      ...          ...
13480  13480  1631.276500
13481  13481  2320.954000
13482  13482  3189.489500
13483  13483  2143.331000
13484  13484   806.063733

[13485 rows x 2 columns]

In [99]:
df_predictions['id']=df_predictions.index
df_predictions

       index        price     id
0          0  2951.780000      0
1          1  5428.601000      1
2          2  9927.936667      2
3          3  4129.560000      3
4          4  1609.076000      4
...      ...          ...    ...
13480  13480  1631.276500  13480
13481  13481  2320.954000  13481
13482  13482  3189.489500  13482
13483  13483  2143.331000  13483
13484  13484   806.063733  13484

[13485 rows x 3 columns]

In [100]:
df_predictions_d=df_predictions.drop('index', axis=1)
df_predictions_d

             price     id
0      2951.780000      0
1      5428.601000      1
2      9927.936667      2
3      4129.560000      3
4      1609.076000      4
...            ...    ...
13480  1631.276500  13480
13481  2320.954000  13481
13482  3189.489500  13482
13483  2143.331000  13483
13484   806.063733  13484

[13485 rows x 2 columns]

In [101]:
df_predictions_d.mean()

price    3965.782236
id       6742.000000
dtype: float64

In [102]:
df_predictions_d.to_csv('train.csv', index=False)